button.nav-link {
    color: #000000;
}

button.nav-link :hover {
    color: #000000;
}

.btn-bg-color {
    background: #056CA5;
}

.btn-border {
    border-radius: 20px;
}

.input-border {
    border-radius: 5px;
    outline: 1px solid black !important; 
}

.total-weight-section {
    font-size: 12px;
}

.btn-border {
    outline: 1px solid black !important; /* Black outline */
}

.btn-border-close {
    background: #056CA5;
    outline: 1px solid white !important; /* Black outline */
    color : #fff
}

.btn-border-attachment1 {
    outline: 2px solid #056CA5 !important; /* Black outline */
}

.btn-border-attachment2 {
    outline: 2px solid #ea0202 !important; /* Black outline */
}
table,tr,td,th {
    border: none;
}



/* // table design */

.rhtable {
    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
    
   
   
    
    
  }
  
  .rhtable th, 
  .rhtable td {
      text-align: left;
      padding: 4px !important;
      border: 1px solid #ccc; /* Default border */
      border-radius: 5px;
      
      
      
  }
  
  .rhtable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .rhtable th {
    background-color: rgba(0,126,196,255);
    color: white;
  
  }


  .airframetab {
   
    border-spacing: 0;
    width: 80%;
    border-collapse: separate;
    /* border-spacing:2px; */
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
   
    
    
   
   
    
    
  }
  .airframetab tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }
  
  .airframetab tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }
  
  .airframetab tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  
  .airframetab tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
  
  
  .airframetab th, 
  .airframetab td {
      
      border: 1px solid;
      border-color:  rgba(0, 0, 0, 0.4);
      padding: 4px !important;
      
      background-color: #ffffff;
     
      
      
      
  }

  

  
  .airframetab th {
    background-color: rgba(0,126,196,255);
    color: white;
  
  }

  .airframeinput {
    width: 60%;
    
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    outline: none;
    transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
   
  }

  .airframeinput:focus {
    border-color: #2d79f3; 
    
  }
  .tableflex{
    display: flex;
    justify-content: center;
  }
